<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>-->
<startup useLegacyV2RuntimeActivationPolicy="true">
<supportedRuntime version="v4.0" sku = ".NETFramework,Version=v4.0"/>
<supportedRuntime version="v2.0.50727"/>
</startup>


  <appSettings>

    <add key="SvnUrl" value= "http://10.12.12.9/svn/iTap/trunk/iTap7.2"/>
    <add key="SvnUserName" value="zhaohanqing" />
    <add key="SvnPass" value="Es123456" />

    <add key="FtpUser" value="anonymous" />
    <add key="FtpPassWord" value="123" />
    <add key="FtpPath" value="ftp://10.12.12.9:21" />
    <add key="FtpUpPath" value="ftp://10.12.12.9:21" />

    <add key="LocalPath" value="D:\" />
    <add key="Skin" value="MacOS" />
    
    <!--<add key="SvnLocalPath" value="D:\" />-->


  </appSettings>
</configuration>